:root {
    --blue-color: #2196f3;
    --black-color: #212121;
    --gray-color: #757575;
    --white-color: #ffffff;
    --title-color: #2f303a;
    --team-color: #f5f4fa;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --type-footer-logo: 'Raleway';
    --font-family-ronoto: 'Roboto', sans-serif;
    --border-color: #ececec;
    --team-color-fon: rgba(47, 48, 58, 0.4);
    --team-icon-color: #AFB1B8;
    --footer-icon-background: rgba(255, 255, 255, 0.1);
    --time-hover: cubic-bezier(0.4, 0, 0.2, 1);
    --telefon:(max-width: 480px);
}